# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
auto-collapsible-accordion/node_modules
auto-collapsible-accordion/.pnp
auto-collapsible-accordion/.pnp.js

# testing
auto-collapsible-accordion/coverage

# production
auto-collapsible-accordion/build

# misc
auto-collapsible-accordion/.DS_Store
auto-collapsible-accordion/.env.local
auto-collapsible-accordion/.env.development.local
auto-collapsible-accordion/.env.test.local
auto-collapsible-accordion/.env.production.local

auto-collapsible-accordion/npm-debug.log*
auto-collapsible-accordion/yarn-debug.log*
auto-collapsible-accordion/yarn-error.log*