.loader-container {
  height: 1rem;
  background-color: #faf5f5d8;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.loader {
  height: 1rem;
  background-color: #a29bfe;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
